.Projects-container{
  background: #1f2235;
    text-align: center;
    height: 100%;
    
}
.png{
    width: 400px;
    margin: 20px 10px 20px 10px;
    transition: 0.3s;
    z-index: 10;
}

.png:hover {
    transform: scale(1.2); 
    transition: 0.3s; 
  }
  .Border {
    background: #ff4a57;
    height: 1px;
    width: 65%;
    margin: 20px auto 50px auto;
    }
@media (min-width: 200px) and (max-width: 729px) {
    .png{
        width: 300px;
    }
    .mainContent{
      margin: 20px 5px 20px 40px;
    }
    .Border {
      margin: 20px 0 30px 70px;
      }
  }
  
  
  @media (min-width: 729px) and (max-width: 960px){
    .png{
        width: 600px;
        margin: 20px 10px 20px 10px;
    }
  }