
.skill-container{
    background: #1f2235;
    text-align: center;
    width: 100%;
}

.React{
    color: #61DBFB;
    width: 100px;
    height: 100px;
}
.Redux{
    color:  #764abc;
    width: 100px;
    height: 100px;
}
.Javascript{
    color: #f0db4f;
    width: 150px;
    height: 100px;
}
.LogoNodejs{
    color: #68A063;
    width: 100px;
    height: 100px;
}
.dotnet{
    color:  #8ed6fb;
    width: 100px;
    height: 100px;
}
.Typescript{
    color:   #007acc;
    width: 80px;
    height: 80px;
}
.AngularjsFill{
    color: #dd1b16;
    width: 100px;
    height: 100px;
}
.HtmlFive{
    color: #e34c26;
    width: 80px;
    height: 80px;
}
.HtmlFive{
    color: #264de4;
    width: 80px;
    height: 80px;
}
.Vue{
    color:  #cc6699;
    width: 100px;
    height: 100px;
}
.Css3{
    color:  #2965f1 ;
    width: 60px;
    height: 60px;
}
.Npm{
    color:  #CC3534 ;
    width: 70px;
    height: 70px;
}
.Database{
    color:  #0080FF ;
    width: 60px;
    height: 60px;
}

.mainHeader,
.mainContent{
    margin-left: 35px;
}


.service-row{
text-align: center;
width: 100%;
background: #23263a;
color: #fff;
}

.col-services{
margin: 80px 0 20px 0;
}





.box {
    position: relative;
    width: 100%;
    margin: 20px 0 50px 15px;
}

.our-services {
    height: 270px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

.our-services .icon {
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center;
}
.our-services:hover h4,
.our-services:hover p {
    color: #fff
}



.settings:hover {
    box-shadow: 0 0 25px 0 #61DBFB;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #61DBFB 0%, #210c59 100%)
}
.ssl:hover {
    box-shadow: 0 0 35px 0 #764abc;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #764abc 0%, #5a57fb 100%)
}
.speedup:hover {
    box-shadow: 0 0 25px 0 #f0db4f;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #f0db4f 0%, #f55b2a 100%)
}
.privacy:hover {
    box-shadow: 0 0 25px 0 #68A063;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #68A063 0%, #44a2f6 100%)
}
.pack:hover {
    box-shadow: 0 0 25px 0 #8ed6fb;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #8ed6fb 0%, #0085fa 100%)
}
.Type:hover {
    box-shadow: 0 0 25px 0 #007acc;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #007acc 0%, #002b50 100%)
}
.Ang:hover {
    box-shadow: 0 0 25px 0 #dd1b16;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #dd1b16 0%, #500000 100%)
}
.Five:hover {
    box-shadow: 0 0 25px 0 #264de4;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #264de4 0%, #001c46 100%)
}
.sss:hover {
    box-shadow: 0 0 25px 0 #cc6699;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #cc6699 0%, #460000 100%)
}
.css:hover {
    box-shadow: 0 0 25px 0 #2965f1;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #2965f1 0%, #07015f 100%)
}
.pm:hover {
    box-shadow: 0 0 25px 0  #CC3534;
    cursor: pointer;
    background-image: linear-gradient(-45deg,  #CC3534 0%, #5f0101 100%)
}

.backups:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}
.base:hover {
    box-shadow: 0 0 25px 0 #0080FF;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #0080FF 0%, #009ec5 100%)
}






  